@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SablonCustom';
    src: url('/fonts/sablon.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  

  